#lineas_contacto{
	background: url(../img/guias_contacto.png);
	position:absolute;
	/*width:313px;
	height:117px;*/
	width:0;
	height: 500px;
	margin: -27.5% 0 0 19.5%;
	z-index: 600;
}
.iconmaps{
	background: url(../img/icono_maps2.png);
	width: 37px;
	height: 50px;
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	margin: 2.5% 0 0 18%;
	opacity: 0;
	z-index: 600;
}
#muestraedificio{
	background: url(../img/fachadacirculo.png);
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	margin:-14% 0 0 63%;
	width: 150px;
	height: 150px;
	opacity: 0;
	transition:all 1s ease-in-out;
	-webkit-transition:all 1s ease-in-out;
	z-index: 600;
}